.Luke > .classesRoot {
    background-image: linear-gradient(to right, rgb(211, 16, 201), rgb(209, 212, 230), rgb(211, 16, 201));
    border: 5px solid white;
    border-radius: 50px;
    padding: 0;
}

          /* Luke > .classesRoot {
            background-image: linear-gradient(to right, rgb(209, 191, 208), rgb(143, 145, 155), rgb(214, 193, 210));
                 
} */