/* #root, body, html {
  margin: 0;
}
 * {
  margin: 0;
  padding: 0;
 }
body {
  background: url(./asserts/pud.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  opacity: 0.9;  
} */

#root, body, html {
  margin: 0;
}
 
body {
  background-image: repeating-linear-gradient(black, rgb(69, 69, 124) 10%, black 10%);
   background-size: cover;
   height: 100%; 
   width: 100%;
}
